@use './../../../colors';

:host {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.menu-buttons {
  display: flex;
  gap: 20px;
  margin-bottom: 80px;
}

.title {
  color: colors.$mainColor;
  display: flex;
  flex-direction: row;
  gap: 10px;

  & > div {
    font-style: italic;

    &:hover {
      opacity: 0.8;
      cursor: pointer;
    }

    & > img {
      width: 12px;
      height: 12px;
      right: -20px;
      margin-bottom: 16px;
    }
  }
}
