@use './../../../colors';

:host {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  gap: 30px;
}

a {
  color: colors.$mainColor
}

.links {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-content: flex-start;
}

.buttons {
  display: flex;
  flex-direction: row;
  gap: 30px;
}
