@use 'node_modules/@ngneat/hot-toast/src/styles/styles.scss';
@use 'colors';

html, body {
  color: #dbdbdb;
  font-family: 'Montserrat', sans-serif;
  background-color: colors.$darkColor;
}

button {
  padding: 8px 16px;
  font-size: 18px;
  font-weight: 700;
  background-color: colors.$accentColor;
  color: colors.$lightColor;
  text-decoration: none;
  border: none;
  border-radius: 4px;

  &:hover {
    color: rgb(colors.$lightColor, 0.9);
    cursor: pointer;
  }

  &:disabled {
    opacity: 0.3;
  }
}

input {
  border: colors.$mainColor 1px solid;
  border-radius: 4px;
  outline: none;
}
